<div id="modal" class="modal" tabindex="-1"></div>
<div id="navbar" class="navbar"></div>
<div id="content">
<script>
	HexApp.currentUser = new HexApp.Models.User(<%= current_user.to_json.html_safe %>);
</script>
