

<div class="preview-area comment comment-body"></div>
<form>
<textarea type="text" class="form-control" rows="4" name="comment[body]" value="" id="body"></textarea>
<input type="hidden" name="comment[game_id]" 
	value="<%= game.id %>" id="comment[game_id]">
<button class="btn btn-primary comment-button" type="button" id="insert-branch" >
	Insert Branch
</button>
<input class="btn btn-danger comment-button" type="submit" name="submit" value="Comment" id="submit">
</form>

