<div class="media-body">
  <hr>
  <h4 class="media-heading"> <div class="comment-username"><%= name %></div> 
	  <div class="comment-time"> <%= comment.dateString()%> </div>
	  </h4>
  <div class="comment-body"></div>
</div>

