
<hr>
<h4 class="media-heading"> 
	<div title ="<%= comment.escape("little_golem_name") ? "LG name: " + comment.escape("little_golem_name") : "no LG name" %>" class="comment-username" data-toggle="tooltip" data-placement="right"><%= comment.escape("username") || "Guest" %></div> 
	<div class="comment-time"> <%= comment.dateString()%> </div>
</h4>


