
<<<<<<< HEAD
<div class="jumbotron front-jumbo">
=======
<div class="jumbotron front-jumbo hidden">
>>>>>>> launch
<h1> Hex Master</h1>
<p> Hex is an abstract board game, played on the site <a href="http://littlegolem.net"> Little Golem: </a> <p>
<p> The rules are simple: Players take turns placing pieces of their color
	on the board, and whoever connects the two sides of their color wins. </p>
	
	<div class="front-board-holder">
		<div class="hex-board13 front-board">
			
		</div>
	</div>
<p> Hex Master provides a richly-featured interface for viewing and commenting on hex-games. </p>

<h3 class="demo-button"> <a class="btn btn-primary btn-lg" href="#/games/1612708"> 
	Click Here </a>  <h3> 
	<p> for an example of a Hex Master commentary, or click a link below.<p> 
	
</div>
	
</p>



<h2 class="recent-games-title"> Recently Commented Games </h2>

<div id="games-table"></div>
