
<div class="jumbotron">
<h1> Hex Master</h1>
<p> Hex is an abstract board game, played on the site <a href="http://littlegolem.net"> Little Golem: </a> <p>
<p> The rules are simple: Players take turns placing pieces of their color
	on the board, and whoever connects the two sides of their color wins. </p>
	
	<div class="hex-board13 front-board"></div>
<p> Hex Master provides a richly-featured interface for viewing and commenting on hex-games. </p>

<h3 class="demo-button"> <button class="btn btn-primary btn-lg"> 
	Click Here </button>  <h3> 
	<p> for an example of a Hex Master commentary, or click a link below.<p> 
	
</div>
	
</p>



<h2> Recently Commented Games </h2>

<div id="games-table"></div>
