
 <input type="submit" class="btn btn-primary submit navbar-btn" value="Find game"></input>
    <div class="input-group lookup-group margin-bottom-20">
            <span class="input-group-addon"><i class="glyphicon glyphicon-tower"></i></span>
            <input class="lookup-input form-control" placeholder="Little Golem Id" type="text" name="little_golem_id" id="little_golem_id">					
    </div>
	 