<table class="table moves-table-top">
    <thead class="moves-table-head">
        <tr>
			<th class="move-number-cell"></th>
            <th class="game-move">Moves</th>
			<th class="branch-move">Branch</th>
        </tr>
    </thead>
</table>
<table class="table moves-bottom" >
    <tbody class="moves-table-body">

    </tbody>
</table>