<h4 class="game-header">
	Game <a href="http://www.littlegolem.net/jsp/game/game.jsp?gid=<%= 
		game.escape("little_golem_id") %>">
		LG #<%= game.escape("little_golem_id")%></a>:
	<span class="red-name"><%= game.escape("red_name")%></span> 
	vs.
    <span class="blue-name"><%= game.escape("blue_name")%></span>
	<% if (game.escape("result")==="red") { %>
		 1-0
	<% } else if (game.escape("result")==="blue") { %>
		 0-1
	<% } %>	
</h4>
<hr class="game-top-seperator">
<div id=game-display class="game-display"></div>
<div id=comments class=comments></div>
