<td>
	<a href="<%= "#/games/" + game.escape("little_golem_id") %>">
		 LG #<%= game.escape("little_golem_id")%>: </a>
</td>
<td>
	<%= game.escape("red_name") %>
</td>

<td>
	<%= game.escape("blue_name") %>
</td>