<div id="content">

<%= link_to "Game advisor", new_advisor_url %>
<br>
<table>
<tr>
	<th></th> <th> red player</th> <th> blue player </th> 
</tr>
<h2> Recently Commented Games </h2>
<% @games.each do |game| %>
	<tr>
		<td>
			<%= link_to "Game: #{game.little_golem_id}",
				 game_start_url(game.little_golem_id)%>
		</td>
		<td>
			<%= game.red_name %>
		</td>

		<td>
			<%= game.blue_name %>
		</td>
	</tr>
<% end %>
</h2>
</table>


<p> 
	<a href="http://en.wikipedia.org/wiki/Hex_(board_game)">Hex</a> is a two
	person abstract board game, chosen for this project because of the extreme
	simplicity of its rules. Players take turns playing pieces of their color
	on the board, and whoever connects their two sides first wins. This
	simplicity makes it possible to explain the game in 10 seconds, and gets rid
	of the need to spend a substantial amount of time on game rules, as I would
	have to do for a game like chess or go. 
</p>
<p>
	<a href="www.littlegolem.net"></a> Is far and away the main place where the
	game is actually played, and it convienantly provides game records by gameid
	and player id, making it easy to get games onto my app. This means the
	minimum useable project doesn't even have to include an interface for
	entering a game from scratch, though this would be nice feature.
</p>

<p>
	This project can be considered a clone of <a href="http://twixt-commentator.dyndns.org"> This site </a> which has a very nice layout of the
game page that I want to build, though the front page could look a bit spiffier.
</p>

<p>
	The primary and minimal goal of this project is to make an app where players
	can comment their hex games. This is partly inspired by 
	<a href="http://www.littlegolem.net/jsp/forum/topic2.jsp?forum=50&topic=560">this thread </a>
	Click on a recently commented game above for a demonstration of this feature in rails & ascii.
</p>

<p>
	 <a href="http://www.trmph.com/hex/game/lg-1612973"> This page </a> provides
	 a good hex board to clone.
 </p>
 
 
 
 