<h1> Welcome to the Hex Advisor </h1>

<form action="<%= advisors_path %>" method="post" accept-charset="utf-8">

	<label for="littlegolem_id">Littlegolem id</label><input type="text" name="littlegolem_game[id]" value="" id="littlegolem_id">
	
	<p><input type="submit" value="Look Up"></p>
</form>