html {
  background-color: #FFFFFF; }

hr { margin: 2px;}

.hex-board13 {
  background-image: url(/assets/hexboard13.png);
  width: 560px;
  height: 336px;
  left: 0px;
  position: absolute;
  background-repeat: no-repeat; }

.ul {
  margin: 0px;
  list-style-type: none; }

.hex-space {
  width: 26px;
  height: 26px;
  position: absolute; }

.hex-board13 .red {
  background: url(/assets/stones.png);
  background-position: 0 0px;
  background-repeat: no-repeat;
  z-index: 2; }

.hex-board13 .blue {
  background: url(/assets/stones.png);
  background-position: 0 -26px;
  background-repeat: no-repeat;
  z-index: 2; }

.red-row .move-number-cell {
  background: #FDD; }

.blue-row .move-number-cell {
  background: #DDF; }

.move-row .game-move {
  background: #F3F3F3; }

.move-row .branch-move {
  background: #F3F3F3; }

.based .game-move {
  background: #FFFFB0; }

.selected .game-move {
  background: #E8E8E8; }

.selected .branch-move {
  background: #e8e8e8; }

.blue-row.selected .move-number-cell {
  background: #CCD5F7; }

.red-row.selected .move-number-cell {
  background: #F7D0D0; }

.moves-display {
  height: 351px;
  width: 161px;
  margin: 0px;
  top: -25px;
  position: absolute;
  left: 570px; }

.moves-table-body {
  overflow-y: scroll;
  height: 312px;
  width: 180px;
  display: block; }

.move-number-cell {
  width: 45px; }

.move-row .move {
  width: 60px;
  padding: 2px; }

.moves-table-top {
  margin: 0; }

.game-display {
  display: inline;
  height: 336px;
  position: absolute;
  top: 50px; }

#comments {
  display: block;
  margin: 0px;
  position: absolute;
  top: 395px;
  margin: 10px;
  width: 740px; }

.move-row .move-number-cell {
  text-align: center;
  padding: 2px; }

.comment-move-list {
  display: inline;
  padding: 0px; }

.comment-move {
  display: inline;
  padding-left: 2px;
  padding-top: 1px;
  padding-right: 2px; }

.comment-move-list .red-move {
  background-color: #FDD; }

.comment-move-list .blue-move {
  background-color: #DDF; }

.comment {
  background-color: #FFF;
  padding-top: 2px;
  padding-left: 5px;
  padding-right: 5px;
  padding-bottom: 2px;
  margin-top: 0px;
  background-color: #F5F5F5;}
  
.media-body hr {
  border-color: #DDD;
}

.comment .media-heading {
  color: #434;
  font-size: 15px; }

.comment .comment-pipe {
  font-weight: bolder;
  background-color: #484;
  color: #484;
  padding: 0px;
  margin: 0px; }

.red-name {
  color: #B50000; }

.blue-name {
  color: #0000B5; }

.game-header {
  margin: 10px; }

.game-top-seperator {
  margin: 0px;
  margin-bottom: 5px;
  width: 720px;
  left: 10px;
  position: relative; }

.modal-header {
  background-color: #FDD;
  color: #555;
  border-top-left-radius: 6px;
  border-top-right-radius: 6px; }

.btn.btn-primary {
  background-color: #DDF;
  color: #555;
  border: #999 1pt solid; }
  
.btn.btn-danger {
background-color: #FDD;
color: #555;
border: #999 1pt solid; }

#navbar {
  position: relative;
  display: block;
  margin: 0pt;
}

#lookup-form {
	margin: 0pt;
}

#games-table {
	display: inline-block;
	width: 480px;
}



.red-player-head {
	background-color: #FDD;
}
.blue-player-head {
	background-color: #DDF;
}
.games-head {
	background-color: #E8E8E8;
}

.input-group .lookup-input {
	display: inline-block;
	width: 150px;
}

.radio-bar {
  position: absolute;
  left: 000px;
  top: -20px;
  width: 500px;
}

.radio {
	display: inline;
	position: relative;
	left: 370px;
	top: 30px;
}


#content {
  display: block;
  position: relative;
}

  
.loginbar form {
  display: inline-block;
}

.comments-list {
  display: inline-block;
  height: 340px;
  overflow-y: scroll;
  width: 740px;
}

#body {
	width: 620px;
	height: 66px;
	display:inline-block;
	float:left;
}

.comment-body {
	white-space: pre-wrap;
}

.comment-button {
	position: relative;
	top: 0px;
	display:inline-block;
	width: 120px;
}

.radio .btn-danger {
	border-radius: 118pt;
}

.comment-username {
	display: inline-block;
	color: #696969;
}

.comment-time {
	display: inline-block;
	font-size: 9pt;
	color: #999;
}

.game-top-seperator.bottom {
	position: relative;
	top: 360px;
}

.preview-area {
	margin-bottom: 5pt;
	padding: 0pt;
	width: 550pt;
	
	h5 { 
		margin-top: 0pt;
	}
	
}

.games-head {
	background-color: #D8D8D8;
}

.jumbotron .hex-board13 {
	display: block;
	position: relative;
	left: 60px;
	margin: 30px;
}

.demo-button {
	text-align: center;
}

  